.container{
    display: 'flex';
    flex-direction: 'column';
    min-height: '100vh';
    min-width: '100vw';
    justify-content: 'center';
    align-items: 'center';
    background-image: "url(./assets/pageBackground.png)";
    background-size: "cover";
}
